@use "./variables.scss" as *;
@use "./mixins.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $light-bg;
  color: $light-text;
  transition: background-color 0.3s, color 0.3s;

  &.dark {
    background-color: $dark-bg;
    color: $dark-text;
  }
}

.button {
  background-color: $primary;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background-color: white;
    color: $dark-text;
  }
}